/* ========
    GLOBAL 
   ======== */
*,
*::before,
*::after,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

/* =========
    GENERAL 
   ========= */
.container {
  padding: 0;
}

.bg-blue {
  background-color: #1da1f2;
  color: white;
}

.w-380 {
  max-width: 380px;
}

.validation-message {
  color: #e0245e;
}

.footer {
  font-size: 0.813rem;
}

/* ============
    NAVIGATION 
   ============ */
.navbar-brand {
  color: #1da1f2;
  font-weight: 800;
}
.navbar-brand:hover {
  color: #1da1f2;
}

.navbar .nav-link {
  color: #0f1419;
  font-size: 1.125rem;
  font-weight: 700;
}
.navbar .nav-link:hover {
  background-color: rgba(29, 161, 242, 0.1);
  border-radius: 999px;
  color: #1da1f2;
}

/* ============
    LIST GROUP 
   ============ */
.nav-tabs {
  border: 0;
  margin-bottom: 0;
}
.nav-tabs .nav-item:hover {
  background: rgba(29, 161, 242, 0.1);
}
.nav-tabs .nav-link {
  border: 0;
  border-radius: 0;
  color: #657786;
  font-weight: 700;
}
.nav-tabs .nav-link.active {
  border-bottom: 3px solid #1da1f2;
  color: #1da1f2;
}
.nav-tabs .nav-link:hover {
  background: rgba(29, 161, 242, 0.1);
  color: #1da1f2;
}

.list-group {
  border-radius: 0;
  padding: 0;
}

.list-group-item {
  border-radius: 0;
}

/* ======
    CARD 
   ====== */
.card {
  width: 33.75rem;
}

.card-header {
  background-color: white;
  color: #657786;
}

.card-body {
  background-color: rgba(29, 161, 242, 0.1);
}

textarea.form-control {
  border-color: #1da1f2;
}

/* ============
    TYPOGRAPHY 
   ============ */
.h1,
.h2,
.h3,
.h4 {
  font-weight: 700;
}

.h2 {
  font-size: 1.875rem;
  line-height: 1.3125;
}

.h3 {
  font-size: 1.5rem;
}

.h4 {
  font-size: 1.125rem;
}

.h5 {
  font-size: 1.125rem;
  font-weight: 800;
}

.h6 {
  font-weight: 600;
}

/* =======
    FORMS
   ======= */
.form-container {
  padding: 15px;
  width: 600px;
}

input.form-control {
  background-color: #f5f8fa;
  border-bottom: 2px solid #657786;
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  border-top: 0;
}
input.form-control:focus {
  background-color: rgba(29, 161, 242, 0.1);
}
input.form-control:focus::placeholder {
  color: #1da1f2;
}

/* =========
    BUTTONS 
   ========= */
.btn-chirper {
  border: 1px solid #1da1f2;
  border-radius: 999px;
  font-weight: 700;
  text-decoration: none;
  background-color: #1da1f2;
  color: white;
}
.btn-chirper:hover, .btn-chirper:active, .btn-chirper.active, .btn-chirper:focus {
  background-color: #1a91da;
  color: white;
}

.btn-chirper-inverse {
  border: 1px solid #1da1f2;
  border-radius: 999px;
  font-weight: 700;
  text-decoration: none;
  background-color: white;
  color: #1da1f2;
}
.btn-chirper-inverse:hover, .btn-chirper-inverse:active, .btn-chirper-inverse.active, .btn-chirper-inverse:focus {
  background-color: rgba(29, 161, 242, 0.1);
  color: #1da1f2;
}

.btn-chirper-danger {
  border: 1px solid #1da1f2;
  border-radius: 999px;
  font-weight: 700;
  text-decoration: none;
  background-color: #e0245e;
  border: 1px solid #e0245e;
  color: white;
}
.btn-chirper-danger:hover, .btn-chirper-danger:active, .btn-chirper-danger.active, .btn-chirper-danger:focus {
  background-color: #e0245e;
  color: white;
}

/* ==============
    USER PROFILE 
   ============== */
.banner {
  background-color: #1da1f2;
  height: 12.5rem;
}

.banner-bar {
  background-color: white;
  height: 50px;
  position: relative;
}

.user-avatar-bg {
  background-color: #e1e8ed;
  border: 4px solid white;
  border-radius: 50%;
  bottom: 0;
  color: #657786;
  height: 150px;
  overflow: hidden;
  position: absolute;
  left: 15px;
  text-align: center;
  width: 150px;
}

.user-avatar {
  line-height: normal;
  vertical-align: -90%;
}

.user-details {
  color: #657786;
  display: block;
}

/*# sourceMappingURL=custom.css.map */
