<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head th:replace="fragments/components :: head"></head>
  <body>
    <div th:replace="fragments/components :: header"></div>
    <div class="banner"></div>
    <div class="container">
      <div class="banner-bar">	
        <div class="user-avatar-bg">
          <i class="fas fa-user fa-7x user-avatar"></i>
        </div>
      </div>
      <div class="row">
        <div class="col-3 pt-1">
          <h5 class="h5"><span th:text="${user.firstName}"/> <span th:text="${user.lastName}"/></h5>
          <span class="user-details"><a th:href="@{/users/} + ${user.username}">@<span th:text="${user.username}"/></a></span>
		      <span class="user-details"><i class="far fa-calendar-alt"></i> Joined <span th:text="${#dates.format(user.createdAt, 'MMMM yyyy')}"></span></span>
        </div>
        <div class="col">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/home}" role="presentation" th:classappend="${filter == 'all' ? 'active' : '' }">All</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/home?filter=following}" role="presentation" th:classappend="${filter == 'following' ? 'active' : '' }">Following</a>
            </li>
          </ul>
          <div class="list-group">
            <div class="list-group-item list-group-item-action" th:each="chirp:${chirpList}">
              <div class="d-flex w-100 justify-content-between">
                <span class="user-details">
                  <a th:href="@{/users/} + ${user.username}">@<span th:text="${chirp.user.username}"/></a> &middot; 
                  <span th:text="${chirp.date}"></span>
                </span>
              </div>
              <p th:utext="${chirp.message}"></p>
            </div>
          </div>
          <div class="list-group" th:if="${#lists.isEmpty(chirpList) and filter == 'all'}">
            <div class="list-group-item list-group-item text-center">
                <h4 class="h4">No Chirps have been created yet</h4>
                <a th:href="@{/new}" class="btn btn-chirper">Chirp Now</a>
            </div>
          </div>
          <div class="list-group" th:if="${#lists.isEmpty(chirpList) and filter == 'following'}">
            <div class="list-group-item list-group-item text-center">
              <h4 class="h4">No Chirps have been created by your followers</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div th:replace="fragments/components :: scripts"/>
  </body>
</html>
