<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head th:replace="fragments/components :: head"></head>
  <body>
    <div class="form-container mx-auto mt-5">
      <h3 class="h3 text-center mb-3">Log in to Chirper</h3> 
      <form th:action="@{/login}" method="post">
        <div class="text-center validation-message" th:if="${param.error}">
          <span>Login unsuccessful.</span>
        </div>
        <input type="text" id="username" name="username" th:placeholder="Username" class="form-control"/> <br/>
        <input type="password" th:placeholder="Password" id="password" name="password" class="form-control"/> <br/>
        <button class="btn btn-primary btn-block btn-chirper py-2" name="Submit" value="Login" type="Submit">Log in</button> 
      </form>
      <a class="d-block text-center mt-4" th:href="@{/signup}">Sign up for Chirper</a>
    </div>
    <div th:replace="fragments/components :: scripts"/>
  </body>
</html>