<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head th:replace="fragments/components :: head"></head>
  <body>
    <div th:replace="fragments/components :: header"></div>
    <div class="container">
      <ul class="nav nav-tabs">
    	  <li class="nav-item">
          <a class="nav-link" th:href="@{/users}" role="presentation" th:classappend="${filter == 'all' ? 'active' : '' }">All</a>
        </li>
        <li class="nav-item">
         <a class="nav-link" th:href="@{/users?filter=followers}" role="presentation" th:classappend="${filter == 'followers' ? 'active' : '' }">Followers</a>
      	</li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/users?filter=following}" role="presentation" th:classappend="${filter == 'following' ? 'active' : '' }">Following</a>
        </li>
      </ul>
      <div class="list-group">
        <div class="list-group-item list-group-item-action" th:each="user:${users}">
          <div class="row">
            <div class="col-6">
              <h4 class="h4 mb-0">
                <span th:text="${user.firstName}"></span>
                <span th:text="${user.lastName}"></span>
                <span th:if="${!followingStatus.containsKey(user.username)}">(Me)</span>
              </h4>
              <span class="mb-0">
                <a th:href="@{/users/} + ${user.username}">@<span th:text="${user.username}"></span></a>
              </span>
            </div>
            <div class="col text-right">
              <small class="mb-1 mr-1">
                <span th:text="${chirpCounts.get(user.username)}"></span> Chirps
              </small>
              <form th:action="@{/follow/} + ${user.username}" th:if="${followingStatus.containsKey(user.username) && !followingStatus.get(user.username)}" method="post">
                <button type="Submit" class="btn btn-md btn-chirper-inverse float-right">
                  Follow
                </button>
              </form>
              <form th:action="@{/unfollow/} + ${user.username}" th:if="${followingStatus.containsKey(user.username) && followingStatus.get(user.username)}" method="post">
                <button type="Submit" class="btn btn-md btn-chirper unfollow_btn float-right">
                  Following
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="list-group" th:if="${#lists.isEmpty(users) and filter == 'followers'}">
        <div class="list-group-item list-group-item text-center">
          <h4 class="h4">You don't have any followers</h4>
        </div>
      </div>
      <div class="list-group" th:if="${#lists.isEmpty(users) and filter == 'following'}">
        <div class="list-group-item list-group-item text-center">
          <h4 class="h4">You are not following anyone</h4>
        </div>
      </div>
    </div>
    <div th:replace="fragments/components :: scripts"></div>
  </body>
</html>
