<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head th:replace="fragments/components :: head"></head>
  <body>
    <div th:replace="fragments/components :: header"></div>
    <div class="banner"></div>
    <div class="container">
      <div class="banner-bar">	
        <div class="user-avatar-bg">
          <i class="fas fa-user fa-7x user-avatar"></i>
        </div>
        <form th:action="@{/follow/} + ${user.username}" th:if="${!following && !isSelfPage}" method="post">
          <button type="Submit" class="btn btn-md btn-chirper-inverse float-right mt-2">Follow</button>
        </form>
        <form th:action="@{/unfollow/} + ${user.username}" th:if="${following && !isSelfPage}" method="post">
          <button type="Submit" class="btn btn-md btn-chirper unfollow_btn float-right mt-2">Following</button>
        </form>
      </div>
      <div class="row">
        <div class="col-3 pt-1">
          <h5 class="h5">
            <span th:text="${user.firstName}"></span>
            <span th:text="${user.lastName}"></span>
          </h5>
          <span class="user-details">
            <a th:href="@{/users/} + ${user.username}">@<span th:text="${user.username}"/></a>
          </span>
          <span class="user-details"><i class="far fa-calendar-alt"></i> Joined <span th:text="${#dates.format(user.createdAt, 'MMMM yyyy')}"></span></span>
        </div>
        <div class="col" th:if="${not #lists.isEmpty(chirpList)}">
          <div class="list-group" th:each="chirp:${chirpList}">
            <div class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <span class="user-details">
                  <a th:href="@{/users/} + ${user.username}">@<span th:text="${chirp.user.username}"/></a> &middot;
                  <span th:text="${chirp.date}"></span>
                </span>
              </div>
              <p class="mb-1" th:utext="${chirp.message}"></p>
            </div>
         </div>
        </div>
        <div class="text-center" th:if="${#lists.isEmpty(chirpList)}">
          <h4 class="h4">@<span th:text="${user.username}"/> hasn&#39;t Chirped</h4>
          <span>When they do, their Chirps will show up here.</span>
        </div>
      </div>
    </div>
    <div th:replace="fragments/components :: scripts"/>
  </body>
</html>
